/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

footer {
    background-color: #000000;
    color: white;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    margin-left: 1rem;
}

.footer-left,
.footer-right,
.footer-center {
    flex: 1;
}
.small-logo {
  width: 20px; 
  height: 20px;/* Adjust the width as needed */
  margin-bottom: 15px; /* Adjust the margin as needed */
}

.footer-center > p {
    font-size: 15px;
}

.hr_1 {
    color: white;
    font-size: larger;
}
